@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <h5 class="text-white text-center sidebar-heading">@EntriesSubject</h5>

        <a class="more-data" @onclick="@RefreshEntries">yenile</a>

        <ul>
            <EntriesComponent @ref="entriesComponent"></EntriesComponent>
        </ul>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    public string EntriesSubject { get; set; } = "Bugün";

    private EntriesComponent entriesComponent;

    private async Task RefreshEntries()
    {
        await entriesComponent.RefreshList();
    }
}